body {
  background-color: #9896f1;
  font-family: "Indie Flower", cursive;
  text-align: center;
  align-content: center;
}

.container {
  margin: 0 auto;
  display: block;
}

a {
  color: #9670f4;
}
